

#your-family {
  text-align: center;
  margin-left: 20px;
  /* text-align: left; */
  color: rgb(24, 49, 78);
  }

#fam-links {
  text-align: center;
   border: 1px solid  rgb(24, 49, 78, .6);
   width:300px;
   border-radius:25px;
   margin:10px auto;
    background-color: rgb(24, 49, 78, .3)

   /* color:white; */
}
#fam-links:hover{
  background-color: rgb(24, 49, 78, .6)

}
.username-link{
   /* border: 1px solid  rgb(24, 49, 78, .6); */
   width:auto;
   /* border-radius:25px; */
   color:white;
}
.username-link:hover{
  color: white;
}
