.prize-name {
    grid-area: prize-name;
}

#prize-name {
    background-color: #BAC9C4;
    height: 20px;
    border: solid 3px #819C92;
}

#prize-name:hover {
    opacity: 75%;
}

.prize-description {
    grid-area: prize-description;
}

#prize-description {
    background-color: #BAC9C4;
    height: 20px;
    border: solid 3px #819C92;
}

#prize-description:hover {
    opacity: 75%;
}

.milestone {
    grid-area: milestone;
}

#milestone {
    background-color: #BAC9C4;
    height: 20px;
    border: solid 3px #819C92;
}

#milestone:hover {
    opacity: 75%;
}

.maxPrizes {
    grid-area: maxPrizes;
}

#maxPrizes {
    background-color: #BAC9C4;
    height: 20px;
    border: solid 3px #819C92;
}

#maxPrizes:hover {
    opacity: 75%;
}

.startDate {
    grid-area: startDate;
}

#startDate {
    background-color: #BAC9C4;
    height: 20px;
    border: solid 3px #819C92;
    color: #637E75;
}

#startDate:hover {
    opacity: 75%;
}

.endDate {
    grid-area: endDate;
}

#endDate {
    background-color: #BAC9C4;
    height: 20px;
    border: solid 3px #819C92;
    color: #637E75;
}

#endDate:hover {
    opacity: 75%;
}

#submit-button {
    grid-area: submit-button;
    width: auto;
    background-color: #BAC9C4;
    border: solid 3px #819C92;
    color: #637E75;
}

#submit-button:hover {
    opacity: 75%;
}

.prize-form {
    display: grid;
    grid-area: prize-form;
    border: solid 4px #819C92;
    border-radius: 40px;
    background-color: #98AEA6;
    justify-content: center;
    width: 35%;
    margin-top: 20px;
    margin-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    row-gap: 15px;
    color: #FFF8E8;
    grid-template-rows: 40px 40px 40px 40px 40px 40px 40px;
    grid-template-areas: "prize-name"
                         "prize-description"
                         "milestone"
                         "maxPrizes"
                         "startDate"
                         "endDate"
                         "submit-button";
}