* {
    font-family: "Sans-Serif";
}

.header {
    text-align: center;
    color: #18314E;
}

#nav {
    text-align: center;
    color: #18314E;
}

#app {
    background-color: #FFF8E8;
    background-size: cover;
    position: fixed; 
    top: 0; 
    left: 0; 
    min-width: 100%;
    min-height: 100%;
    background-repeat: no-repeat; 
}
